* {
	margin:0;
	padding:0;
}

body{
	font-family:Arial,Verdana,Tohama,"Times New Roman";
}



.chon  {
	text-align: center;
	margin: 10px 10px 10px;
}

.traloi {
	margin: 20px 20px 20px;
}

.phuongan {
	margin: 10px;
}
.cautraloi {
	margin: 0px 4px;
	border:1px solid blue;
}

#cauhoitraloi {
	margin: 2px 0px 2px;
	
}

table.don {
	border-collapse:collapse;
}

table.don td {
	border-width: 1px;
	padding: 0px;
	border-style: inset;
	border-color: blue;
}

.chamcham {
	background:blue url(image/bgdot.png);
}