RewriteEngine On # Turn on the rewriting engine
RewriteRule ^baitap/([0-9]+)/?$ bt.php?id=$1 [NC,L]
#RewriteRule ^kiemtra/([0-9]+)/?$ kt.php?id=$1 [NC,L]
RewriteRule ^kiemtra/?$ kt.php [NC,L]
RewriteRule ^baihoc/([A-Za-z0-9-]+)/?$ bh.php?b=$1 [NC,L]
RewriteRule ^baihoc/id/([0-9]+)/?$ bh.php?id=$1 [NC,L]