table, td
{
    border-color: #600;
    border-style: solid;
}

table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    /*background-color: #FFC;*/
}
.page {
	margin: 5px 5px 5px 5px;
}
tr.row0 {
	background-color: #FFF;
}
tr.row1 {
	background-color: #CFF;
}

tr:hover {
	color: #f00; background-color: #FFff00;
}